.main{
  background-color: #333333;
  height: 100vh;
  color: #FFFFFF;
}

.container {
  margin: 0 190px;
}

.title{
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  margin: 32px 0 0 10px;
}

.subTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin: 32px 0px 0 10px;
}

.area{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.solicite{
  display: flex;
  flex-direction: row;
  margin: 16px 0 0 10px; 
}

.textSolicite {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.link{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-left: 8px;
  text-decoration: underline;
  color: #8CC63F;
}

.tableArea {
  margin: 48px 0 0 10px; 
}

.investimento{
  margin: 0px 0 0 10px;
}

.investimento h3 {
  margin: 48px 0 33px 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
}

.buttons {
  padding: 52px 0 61px 0;
  display: flex;
  flex-direction: row;
}

@media screen  and (max-width: 990px) {
  .container {
    margin: 0 50px;
  }
  .area{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen  and (max-width: 730px) {
  .container {
    margin: 0 20px;
  }
  .area{
    grid-template-columns: repeat(2, 1fr);
  }
}